@import "bootstrap/dist/css/bootstrap";

// .navbar-brand {
// 	font-size: 3rem;
// }

.no-right-padding {
	padding-right: 0 !important;
	color: red;
}

.no-left-padding {
	padding-left: 0 !important;
}

.search-area {
	padding-top: 50px;
}

.results-block {
	display: inline-block;
}
