@import "bootstrap/dist/css/bootstrap";

// .navbar-brand {
// 	font-size: 3rem;
// }

body {
	background: #c9d6ff; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to left,
		#e2e2e2,
		#c9d6ff
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to left,
		#e2e2e2,
		#c9d6ff
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.no-right-padding {
	padding-right: 0 !important;
	color: red;
}

.no-left-padding {
	padding-left: 0 !important;
}

.search-area {
	padding-top: 50px;
}

.results-block {
	display: inline-block;
	margin-bottom: 1rem;
}

.logout-button {
	margin-right: 5px;
}

.user-name {
	color: gray;
	margin-top: 3.5%;
	padding-right: 5px;
}
